// utils //
@import "./utils/variables.scss";
@import "./utils/breakpoints.scss";

// base //
@import "./base/_font";
@import "./base/typography";
@import "./base/base.scss";

// Components //
@import "./components/_summary";
@import "./components/carousel-project";
@import "./components/carousel-home";
@import "./components/button-previous-next";

// Layout //
@import "./layout/descriptionBlock";
@import "./layout/referencesBlock";
@import "./layout/_contactBlock";
@import "./layout/_exhibitionBlock";

@import "./layout/index";
@import "./layout/navbar.scss";
@import "./layout/projectBlock";
@import "./layout/footer";

// pages //
@import "./pages/pageLayout";
