// UTILS //
@import "./utils/variables.scss";
@import "./utils/breakpoints.scss";

// BASE //
@import "./base/_font";
@import "./base/typography";
@import "./base/base.scss";
@import "./base/imagesVideo--project";

// COMPONENTS //
@import "./components/button-previous-next";
@import "./components/_infoBulle";
@import "./components/_accordion";
@import "./components/_slideUnderline";

// LAYOUT //
@import "./layout/about";
@import "./layout/selectedCollaborators";
@import "./layout/_contact";
@import "./layout/_contributionExhibition";
@import "./layout/navbar.scss";
@import "./layout/_cover";
@import "./layout/_projectContainer";
@import "./layout/index";
@import "./layout/_detailsServices";
@import "./layout/footer";

// PAGES //
@import "./pages/pageLayout";
