//! references studio  //

.o-referencesBlock {
  border-bottom: $border;
}

.m-referencesBlock {
  border-bottom: $border;
  display: grid;
  grid-template-columns: $col-phone 1fr;
  grid-template-areas: ". reference";

  @include media(">=desktop") {
    grid-template-columns: $col-desk 1fr;
  }
}

.a-referencesBlock__item {
  padding: $pad-T-B $pad-L-R;
}

.-references {
  border-left: $border;
  grid-area: reference;
}

.a-textReferences__item {
  display: grid;
  grid-template-columns: $col-phone 1fr;
  grid-template-areas: ". text-area";

  @include media(">=desktop") {
    grid-template-columns: $col-desk 1fr;
  }
}

.-text-references {
  grid-area: text-area;
  padding: calc(#{$pad-T-B}* 2) $pad-L-R;
}
