/**
 * = CONTAINER CONTRIBUTION & EXHIBITION 
 *
 * Présent uniquement sur la page home
 * Container qui gere la grid des deux element contribution + exhibition
 *
 * ------------------------------------------------------------------------- */

.o-contributionsExhibitions__container {
  display: block;
  @include media(">tablet") {
    display: grid;
    grid-template-columns: 5rem repeat(2, 1fr);
    grid-template-areas: ". contribution exhibition";
  }
}
#contribution__wrapper {
  grid-area: contribution;
  padding-right: $pad-L-R;
}
#exhibition__wrapper {
  grid-area: exhibition;
  padding-right: $pad-L-R;
}
#contribution__wrapper,
#exhibition__wrapper {
  padding-left: $pad-L-R;
  padding-bottom: $pad-L-R;
}
