//! contact studio  //

.o-contactBlock {
  border-bottom: $border;
}

.m-contactBlock {
  border-bottom: $border;
  display: grid;
  grid-template-columns: $col-phone 1fr;
  grid-template-areas: ". contact";

  @include media(">=desktop") {
    grid-template-columns: $col-desk 1fr;
  }
}

.a-contactBlock__item {
  padding: $pad-T-B $pad-L-R;
}

// SUPPRESSION | AJOUT CONTACT VS DESKTOP //
.contactPhone {
  @include media(">=desktop") {
    display: none;
  }
}
.contactDesktop {
  @include media(">=phone", "<=1228px") {
    display: none;
  }
}
//

.-contact {
  border-left: $border;
  grid-area: contact;
}

.a-textContact__item {
  display: grid;
  grid-template-columns: $col-phone auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    ". adress"
    ". inquiries"
    ". application ";

  @include media(">=desktop") {
    grid-template-columns: $col-desk repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      ". adress ."
      ". inquiries application ";
  }
}

#ppoAdress {
  grid-area: adress;
  padding: calc(#{$pad-T-B}* 2) $pad-L-R;
}
#inquiries {
  grid-area: inquiries;
  padding-bottom: calc(#{$pad-T-B}* 2);
  a:hover {
    color: $third;
  }
}
#application {
  grid-area: application;
  padding-bottom: calc(#{$pad-T-B}* 2);
  a:hover {
    color: $four;
  }
}
