/**
 * = CONTACT
 *
 * 01 - INDEX CONTACT
 * 02 - TEXTE CONTACT
 * 
 * ========================================================================= */

/**
 * = 01 - INDEX CONTACT
 * ------------------------------------------------------------------------- */
.o-contact__container {
  border-bottom: $border;
}

.m-contact_indexContact__wrapper {
  border-bottom: $border;
  display: grid;
  grid-template-columns: $col-phone 1fr;
  grid-template-areas: ". contact";

  @include media(">=desktop") {
    grid-template-columns: $col-desk 1fr;
  }
}

.a-contact-indexContact__item,
.a-contact_textContact__item {
  padding: $pad-T-B $pad-L-R;
}

// VERISION IPHONE : ADRESSE MAIL REMPLACEE PAR CONTACT US //
#contactPhone {
  @include media(">=desktop") {
    display: none;
  }
}
#contactDesktop {
  @include media(">=phone", "<=1228px") {
    display: none;
  }
}

.a-contact-indexContact__item {
  border-left: $border;
  grid-area: contact;
}

/**
 * = 02 - TEXTE CONTACT
 * ------------------------------------------------------------------------- */

.m-contact_textContact__wrapper {
  display: grid;
  grid-template-columns: $col-phone auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    ". adress"
    ". inquiries"
    ". application ";

  @include media(">=desktop") {
    grid-template-columns: $col-desk repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      ". adress ."
      ". inquiries application ";
  }
}

#ppoAdress {
  grid-area: adress;
  padding: calc(#{$pad-T-B}* 2) $pad-L-R;
}
#inquiries {
  grid-area: inquiries;
  padding-bottom: calc(#{$pad-T-B}* 2);
  a:hover {
    color: $third;
  }
}
#application {
  grid-area: application;
  padding-bottom: calc(#{$pad-T-B}* 2);
  a:hover {
    color: $third;
  }
}
