/**
 * = CONTAINER DETAILS SERVICES 
 *
 * Présent uniquement sur la page projet
 * Container parent GRID qui gere la grid de deux éléments
 *
 * ------------------------------------------------------------------------- */

.o-detailServices__Container {
  display: block;
  padding: 0 $pad-L-R;
  @include media(">tablet") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: ". accordion";
  }
}
#detailServices__wrapper {
  grid-area: accordion;
}
