footer {
  margin-left: $marg;
  margin-right: $marg;
  margin-bottom: 5px;
  background-color: $second;
  z-index: 2;
}

.footer_container {
  border-top: $border;
  border-bottom: $border;
  display: grid;
  grid-template-columns: 60px auto auto auto auto;
}

.footer__item {
  border-right: $border;
  padding: $pad-T-B $pad-L-R;
  &:last-child {
    border-right: none;
  }
}
