.o-footerBlock {
  width: 50%;
  margin-bottom: calc(#{$marg}/ 2);
  background-color: $second;
  position: fixed;
  bottom: 0;
  width: 50%;
  padding-right: $pad-L-R;
}

.m-footerBlock {
  border-top: $border;
  border-bottom: $border;
  display: grid;
  grid-template-columns: 60px repeat(4, auto);
}

.a-footerBlock__item {
  border-right: $border;
  padding: $pad-T-B $pad-L-R;
  &:last-child {
    border-right: none;
  }
}
