// FOOTER DESKTOP //
.o-footer__container {
  width: 50%;
  background-color: $second;
  position: fixed;
  bottom: 0;
  padding-right: $pad-L-R;
  margin-bottom: calc(#{$marg}/ 2);

  @include media("<=1024px") {
    display: none;
  }
}

.m-footer__wrapper {
  border-top: $border;
  border-bottom: $border;
  display: grid;
  grid-template-columns: $col repeat(4, auto);
}

.a-footer__item {
  border-right: $border;
  padding: $pad-T-B $pad-L-R;
  &:last-child {
    border-right: none;
  }
}

// FOOTER MOBILE //
.o-footer__container--mobile {
  width: 100%;
  background-color: $second;

  @include media(">1024px") {
    display: none;
  }
}

.m-footer__wrapper--mobile {
  border-bottom: $border;
  display: grid;
  grid-template-columns: $col repeat(4, auto);
}

.a-footer__item--mobile {
  border-right: $border;
  padding: $pad-T-B $pad-L-R;
  &:last-child {
    border-right: none;
  }
}
