//  index container //
.m-indexBlock {
  border-top: $border;
  border-bottom: $border;
  display: grid;
  grid-template-columns: 60px repeat(2, 1fr);
  grid-template-areas: ". name-client category";
  background-color: $second;
}
._indexTop {
  border-top: none;
}

.a-indexBlock__item {
  padding: $pad-T-B $pad-L-R;
}
._indexName {
  border-right: $border;
  border-left: $border;
  grid-area: name-client;
}
._indexCategory {
  grid-area: category;
}

// index home page top border/
._indexTop__home {
  border-top: $border;
  margin-top: calc(#{$marg}/ 2);
}

._indexName__home {
  border-right: none;
  border-left: $border;
  grid-area: name-client;
}

// index sub container sans top border //
.index__project {
  border-top: none;
}
