// index project
.index {
  border-bottom: $border;
  display: grid;
  grid-template-columns: 60px 1fr 1fr;
  grid-template-areas: ". name-client category";

  .index__name {
    padding: $pad-T-B $pad-L-R;
    border-right: $border;
    border-left: $border;
    grid-area: name-client;
  }
  .index__category {
    padding: $pad-T-B $pad-L-R;
    grid-area: category;
  }
}

// previous next project
.container__previous__next {
  @extend .index;
  border-top: $border;
  position: fixed;
  bottom: 0;
  .wrapper__previous {
    @extend .index__name;
    &:hover {
      background-color: $four;
      -webkit-animation: random 7s infinite;
      animation: random 7s infinite;
    }
  }
  .wrapper__next {
    @extend .index__category;
    &:hover {
      background-color: $four;
      -webkit-animation: random 7s infinite;
      animation: random 7s infinite;
    }
  }
}
@keyframes random {
  15% {
    background-color: red;
  }
  30% {
    background-color: yellow;
  }
  45% {
    background-color: rgb(255, 153, 0);
  }
  60% {
    background-color: rgb(255, 0, 242);
  }
  75% {
    background-color: rgb(128, 0, 247);
  }
}
