/**
 * = 01 - INDEX DES PARTIES : CONTACT, PROJECT ETC.
 * ------------------------------------------------------------------------- */
.m-index_heading__wrapper {
  @include index_container-style;
}

.a-index_heading__item {
  margin-left: $col;
  padding: $pad-T-B $pad-L-R;
}
#heading--border_left {
  border-left: $border;
}
