nav {
  position: sticky;
  top: 5px;
  z-index: 1;
  background-color: $second;
}
.navbar__left {
  border-top: $border;
  border-bottom: $border;
  height: 28.5px;
  position: sticky;
  top: 5px;
  z-index: 3;
  background-color: $second;
  display: flex;

  .navbar__item,
  .navbar__cta {
    padding: $pad-T-B $pad-L-R;
  }
}
.navbar__cta {
  width: 60px;
}

.navbar__item {
  border-left: $border;
}

// change content on hover //
.return__home {
  &:hover {
    font-size: 0;
    &:after {
      content: attr(data-hover);
      font-size: $body;
    }
  }
}

.navbar__right {
  border-top: $border;
  border-bottom: $border;
  height: 28.5px; //a voir pk//
  position: sticky;
  top: 5px;
  z-index: 3;
  background-color: $second;

  .navbar__item {
    padding: $pad-T-B $pad-L-R;
    border-right: none;
    border-left: none;
  }
}
