// navbar home //
nav {
  position: relative;
  margin-top: calc(#{$marg}/ 2);

  @include media(">=desktop") {
    position: sticky;
    top: 5px;
    z-index: 3;
    background-color: $second;
  }
}

.m-navbarBlock {
  border-top: $border;
  border-bottom: $border;
  height: 28.5px;
  display: grid;
  grid-template-columns: $col-phone 1fr;

  @include media(">=desktop") {
    grid-template-columns: $col-desk 1fr 50%;
  }

  .a-navbar__item {
    padding: $pad-T-B $pad-L-R;
  }
}

._logo {
  border-left: $border;
}

// change content on hover //
._returnHome {
  &:hover {
    font-size: 0;
    background-color: $third;
    &:after {
      content: attr(data-hover);
      font-size: $text1;
    }
  }
}
