// ! navigationbar beetween projects //
.nav__projects__grid {
  border-top: $border;
  border-bottom: $border;
  display: grid;
  grid-template-columns: 60px repeat(2, 1fr);
  grid-template-areas: ". name-client category";
}

.nav__projects__item {
  padding: $pad-T-B $pad-L-R;
}

#previous {
  border-right: $border;
  border-left: $border;
  grid-area: name-client;
}
#next {
  grid-area: category;
}

.nav__projects__item--hover {
  &:hover {
    background-color: $four;
    display: block;
  }
}
