// navbar home //
nav {
  position: sticky;
  top: 5px;
  z-index: 3;
  background-color: $second;
  margin-left: $marg;
  margin-right: $marg;
}

.navbar__grid {
  border-top: $border;
  border-bottom: $border;
  height: 28.5px;
  display: grid;
  grid-template-columns: 60px 1fr 50%;

  .navbar__item__grid,
  .navbar__cta__grid {
    padding: $pad-T-B $pad-L-R;
  }
}

.navbar__item__grid {
  border-left: $border;
}

// change content on hover //
.return__home {
  &:hover {
    font-size: 0;
    background-color: $four;
    &:after {
      content: attr(data-hover);
      font-size: $body;
    }
  }
}

// navbar project page //
.navbar__project__right {
  margin-left: 0;
  margin-right: 0;
  margin-top: calc(#{$marg}/ 2);
}
