/**
 * = NAVBAR 
 *
 * 01 - NAVBAR
 * 02 - CTA RETURN HOME
 * 
 * ========================================================================= */

/**
 * = 01 - NAVBAR
 * ------------------------------------------------------------------------- */

.o-navbar__container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $second;
  padding-top: calc(#{$marg}/ 2);
  // decalage de 5px en top
  //cache blanc pour masquer le passage du contenu en dessous
  z-index: 9999;
  @include media(">=desktop") {
    position: relative;
  }
}

.m-navbar__wrapper {
  border-top: $border;
  border-bottom: $border;
  //height: 28.5px;
  display: grid;
  grid-template-columns: $col-phone 1fr;

  @include media(">=desktop") {
    grid-template-columns: $col-desk 1fr 50%;
  }

  .a-navbar__item {
    @include button-slide-hover-right();
    padding: $pad-T-B $pad-L-R;
  }
}

#name_panamaPapersOffice {
  border-left: $border;
}

/**
 * = 02 - CTA RETURN HOME
 * ------------------------------------------------------------------------- */
._slideHover {
  &:hover {
    color: $second;
    box-shadow: inset 400px 0 0 0 $first;
  }
  &:after {
    font-size: $text1;
  }
}
