/**
 * = NAVBAR 
 *
 * 01 - NAVBAR
 * 02 - CTA RETURN HOME
 * 
 * ========================================================================= */

/**
 * = 01 - NAVBAR
 * ------------------------------------------------------------------------- */
nav {
  @include media(">=desktop") {
    position: relative;
    margin-top: calc(#{$marg}/ 2);
  }
}

.m-navbar__wrapper {
  border-top: $border;
  border-bottom: $border;
  //height: 28.5px;
  display: grid;
  grid-template-columns: $col-phone 1fr;

  @include media(">=desktop") {
    grid-template-columns: $col-desk 1fr 50%;
  }

  .a-navbar__item {
    padding: $pad-T-B $pad-L-R;
  }
}

#name_panamaPapersOffice {
  border-left: $border;
}

/**
 * = 02 - CTA RETURN HOME
 * ------------------------------------------------------------------------- */
#__buttonReturnHome {
  &:hover {
    font-size: 0; //permet de masquer l'acronyme PPO pour afficher le data hover : Back
    background-color: $third;
    &:after {
      content: attr(data-hover);
      font-size: $text1;
    }
  }
}
