.text__grid {
  display: grid;
  grid-template-columns: 60px repeat(2, 1fr);
  grid-template-rows: auto auto auto 15vh auto;
  grid-template-areas:
    ". title title"
    ". city year"
    ". . ."
    ". . ."
    "arrow intro .";
  border-bottom: $border;
  padding-top: $pad-T-B;
}

.text__item {
  padding-left: $pad-L-R;
}

.title {
  grid-area: title;
  text-transform: uppercase;
}
.city {
  grid-area: city;
}

.year {
  grid-area: year;
}
.arrow {
  grid-area: arrow;
  justify-self: end;
}
.intro {
  grid-area: intro;
  padding-bottom: calc(2 *#{$pad-T-B});
}

.image__project {
  display: flex;
}
