@charset "UTF-8";
@font-face {
  src: url(/public/fonts/SangNeufSansMono-Regular.eot);
  src: url(/public/fonts/SangNeufSansMono-Regular.otf);
  src: url(/public/fonts/SangNeufSansMono-Regular.woff);
  src: url(/public/fonts/SangNeufSansMono-Regular.woff2);
  font-family: "sangneuf";
}
/**
 * = 01 - INFOS CONTAINER COMMUN
 * ------------------------------------------------------------------------- */
/**
 * = 02 - HOVER UNDERLINE 
 * ------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

img {
  box-sizing: border-box;
  display: block;
}

/** ========================================================================
* = CHARTE TYPOGRAPHIQUE
*
* 01 - BASE : HTML BODY 
* 02 - TYPO ENSEMBLE DES PAGES
* 02.1 - NAVBAR
* 02.2 - INDEX
* 02.3 - COVER 
* 02.3.1 - TITLE
* 02.3.1 - DATE & CITY
* 02.3.1 - MOTS CLEFS
* -----
* 03 - HOME 
* -----
* 04 - PROJECT
* 04.1 - BUTTONS ANCHORS
* 04.2 - TEXTE (cf.body)
* 04.3 - LISTE DÉROULANTE DETAILS SERVICES
* 05 - FOOTER
* 
* ========================================================================= */
/**
 * = 01 - BASE : HTML BODY
 * 
 * ------------------------------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: helvetica;
}
body ::selection {
  color: white;
  background: black;
}
body ::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: black;
}

h4 {
  font-weight: 400;
}

/**
 * = 02 - TYPO COMMUNE : NAVBAR, INDEX, CONTAINER COVER PROJECT (HOME + PROJECT)
 * 
 * ------------------------------------------------------------------------- */
/* = 02.1 - NAVBAR */
/* = 02.2 - INDEX */
/* = 02.3 - CONTAINER PROJECT : TITLE */
.a-project_informationsTitle__item {
  font-size: 4rem;
  line-height: 3.5rem;
  padding-top: 5px;
  text-transform: uppercase;
}
@media (min-=: 1025px) {
  .a-project_informationsTitle__item {
    font-size: 5rem;
    line-height: 1.6rem;
  }
}

/* = 02.4 - CONTAINER PROJECT : DATE & CITY */
.a-project_informationsCity__item,
.a-project_informationsYear__item,
.a-image__description__item {
  font-family: "sangneuf", "Courier New", Courier, monospace;
  line-height: 1.6rem;
}

/* = 02.5 - CONTAINER PROJECT : MOTS CLEFS */
._projectIntro {
  line-height: 2rem;
  font-size: 1.6rem;
}

/**
 * = 03 - HOME
 * 
 * ------------------------------------------------------------------------- */
/* = 03.1 - ABOUT */
.a-infos__text_item {
  line-height: 2rem;
}

/* = 03.4 - CONTRIBUTIONS & EXHIBITIONS */
.m-contribution_content__wrapper,
.a-exhibitionTab__wrapper {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

/**
 * = 04 - PROJECT
 * 
 * ------------------------------------------------------------------------- */
/* = 04.1 - BOUTTONS ANCHORS */
.m-buttonText__wrapper {
  font-size: 1.3rem;
  font-weight: bold;
}

/* = 04.2 - TEXTES */
.m-text__wrapper {
  line-height: 2rem;
  font-size: 1.6rem;
}

/* = 04.3 - LIENS EXTERNES */
.a-linkProject {
  font-size: 1.4rem;
}

/* = 04.3 - LISTE DERULANTE - SERVICES */
.list__services {
  font-size: 1.4rem;
}

/**
 * = 05 - FOOTER
 * 
 * ------------------------------------------------------------------------- */
.o-footer__container {
  font-size: 1.3rem;
}

.m-image__wrapper {
  position: relative;
}

#timur_exhibition {
  margin-top: -4px;
}

.a-image__description__item {
  position: absolute;
  z-index: 999;
  top: 5px;
  left: 5px;
  background-color: white;
  padding: 1px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.m-image__wrapper:hover .a-image__description__item {
  opacity: 1;
}

img {
  width: 100%;
}

/**
 * = 01 - CONTAINER COMMUN
 * ------------------------------------------------------------------------- */
.m-infos__heading_wrapper {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.a-infos__heading_item {
  margin-left: 5rem;
  padding: 5px 10px;
}

#heading--border_left {
  border-left: 1px solid black;
}

.m-infos__text_wrapper {
  margin-left: 5rem;
}

.a-infos__text_item {
  padding: 10px;
}

/**
 * = 02 - ABOUT
 * ------------------------------------------------------------------------- */
#container__about {
  margin-top: 3rem;
}
@media (min-width: 1024px) {
  #container__about {
    margin-top: 0;
  }
}

/**
 * = 03 - CONTACT
 * ------------------------------------------------------------------------- */
.o-infos_container--border-bottom {
  border-bottom: 1px solid black;
}

.a-infos__text_item > a {
  color: black;
  box-shadow: inset 0 0 0 0 black;
  transition: all ease-in-out 400ms;
}
.a-infos__text_item > a:hover {
  color: white;
  box-shadow: inset 400px 0 0 0 black;
}

@media (min-width: 1024px) {
  #contactPhone {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 1228px) {
  #contactDesktop {
    display: none;
  }
}

#contact__grid_container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: " adress" " inquiries" " application ";
}
@media (min-width: 1024px) {
  #contact__grid_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: " adress ." " inquiries application ";
  }
}

#ppoAdress {
  grid-area: adress;
  padding: calc(5px* 2) 10px;
}

#inquiries {
  grid-area: inquiries;
  padding-bottom: calc(5px* 2);
}

#application {
  grid-area: application;
  padding-bottom: calc(5px* 2);
}

#hidden {
  display: none;
}

@media (min-width: 1024px) {
  .o-navigationButtons {
    width: 50%;
    background-color: white;
    position: fixed;
    bottom: 3rem;
    padding-right: 10px;
  }
}

.m-navigationButtons {
  display: grid;
  grid-template-columns: 5rem repeat(2, 1fr);
  grid-template-areas: ". name-client category";
  border-top: 1px solid black;
}

.a-navigationButtons {
  color: black;
  box-shadow: inset 0 0 0 0 black;
  transition: all ease-in-out 400ms;
  padding: 5px 10px;
  border-right: 1px solid black;
}

._slideHover:hover {
  color: white;
  box-shadow: inset 400px 0 0 0 black;
}

#previous {
  border-right: 1px solid black;
  grid-area: name-client;
}

#next {
  grid-area: category;
  border: none;
}

.infoBulle {
  position: relative;
  /*les .infoBulle deviennent référents*/
  border-radius: 50%;
}

/* on génère un élément :after lors du survol et du focus :*/
.infoBulle:hover:after,
.infoBulle:focus:after {
  content: attr(aria-label);
  /* on affiche aria-label */
  position: absolute;
  top: -2.4em;
  left: 50%;
  transform: translateX(-50%);
  /* on centre horizontalement  */
  z-index: 1;
  /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;
  /* on interdit le retour à la ligne*/
  padding: 5px 14px;
  background: black;
  color: #fff;
  border-radius: 4px;
  font-size: 1.2rem;
}

/* on génère un second élément en :before pour la flèche */
[aria-label]:hover:before,
[aria-label]:focus:before {
  content: "▼";
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  /* on centre horizontalement  */
  font-size: 20px;
  color: black;
}

/* pas de contour durant le :focus */
[aria-label]:focus {
  outline: none;
}

/**
 * = ACCORDION 
 *
 * Bouton .accordion
 * .panel = systeme d'ouverture
 * .service = informations présentées
 *
 * ------------------------------------------------------------------------- */
/* Style the buttons that are used to open and close the accordion panel */
.accordion--contribution,
.accordion--exhibition,
.accordion--services {
  background-color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 400ms;
  padding-top: 5px;
  padding-bottom: 5px;
}

.accordion--contribution:after,
.accordion--exhibition:after,
.accordion--services:after {
  content: "+";
  /* Unicode character for "plus" sign (+) */
  float: right;
}

.active:after {
  content: "-";
  /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: white;
  max-height: 0px;
  transition: max-height 250ms ease-in-out;
  overflow: scroll;
}

.service {
  padding-top: 5px;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-areas: "number-service infos-service";
  border-bottom: 1px solid black;
}
.service .number-service {
  grid-area: number-service;
}
.service .infos-service {
  grid-area: infos-service;
}

/**
* = TYPOGRAPHY 
* 
*-------------------------------------------------*/
.accordion--contribution,
.accordion--exhibition,
.accordion--services {
  font-size: 1.6rem;
}
.accordion--contribution .accordion:after,
.accordion--exhibition .accordion:after,
.accordion--services .accordion:after {
  font-weight: 400;
}

.panel {
  font-size: 1.4rem;
}

#title-service {
  text-transform: uppercase;
}

#content-service {
  padding-top: 5px;
  padding-bottom: 5px;
}

/**
 * = UNDERLINE & ANIMATION UNDERLINE HOVER
 *
 * @include pour l'underline en background image
 * Animation de l'underline 
 *
 * ------------------------------------------------------------------------- */
#title-service {
  display: inline;
  line-height: 2rem;
}

#number-service,
.slide__underline {
  text-decoration: none;
  background-image: linear-gradient(black, black);
  background-size: 100% 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.slide__underline {
  color: black;
  transition: all 300ms ease-in-out;
  transition-delay: 90ms;
}
.slide__underline:hover {
  background-size: 100% 100%;
  color: white;
}

/**
 * = NAVBAR 
 *
 * 01 - NAVBAR
 * 02 - CTA RETURN HOME
 * 
 * ========================================================================= */
/**
 * = 01 - NAVBAR
 * ------------------------------------------------------------------------- */
.o-navbar__container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding-top: calc(10px/ 2);
  z-index: 9999;
}
@media (min-width: 1024px) {
  .o-navbar__container {
    position: relative;
  }
}

.m-navbar__wrapper {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 5rem 1fr;
}
@media (min-width: 1024px) {
  .m-navbar__wrapper {
    grid-template-columns: 5rem 1fr 50%;
  }
}
.m-navbar__wrapper .a-navbar__item {
  color: black;
  box-shadow: inset 0 0 0 0 black;
  transition: all ease-in-out 400ms;
  padding: 5px 10px;
}

#name_panamaPapersOffice {
  border-left: 1px solid black;
}

/**
 * = 02 - CTA RETURN HOME
 * ------------------------------------------------------------------------- */
._slideHover:hover {
  color: white;
  box-shadow: inset 400px 0 0 0 black;
}
._slideHover:after {
  font-size: 1.6rem;
}

/**
 * = CONTAINER CONTRIBUTION & EXHIBITION 
 *
 * Présent uniquement sur la page home
 * Container qui gere la grid des deux element contribution + exhibition
 *
 * ------------------------------------------------------------------------- */
.o-contributionsExhibitions__container {
  display: block;
}
@media (min-width: 769px) {
  .o-contributionsExhibitions__container {
    display: grid;
    grid-template-columns: 5rem repeat(2, 1fr);
    grid-template-areas: ". contribution exhibition";
  }
}

#contribution__wrapper {
  grid-area: contribution;
  padding-right: 10px;
}

#exhibition__wrapper {
  grid-area: exhibition;
  padding-right: 10px;
}

#contribution__wrapper,
#exhibition__wrapper {
  padding-left: 10px;
  padding-bottom: 10px;
}

.o-coverImage__container {
  border-left: none;
}
@media (min-width: 769px) {
  .o-coverImage__container {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.a-coverImage__item {
  width: 100%;
  height: auto;
}

/** ========================================================================
* = PROJECT 
*
* 01 - CONTAINER PARENT PROJET
* 02 - TITRE
* 03 - TEXTE
* 04 - LISTE DEROULANTE DETAIL SERVICES
* 
 * ========================================================================= */
/**
 * = 01 - CONTAINER PROJECT
 *
 * Grille de mise en page des éléments : titre, texte et liste
 *
 * ------------------------------------------------------------------------- */
.o-projectGrid__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "title-area title-area " "texte-area texte-area" "list-area list-area";
}

.o-project_informations__container {
  grid-area: title-area;
}

.o-text {
  grid-area: texte-area;
}

.o-gridList {
  grid-area: list-area;
}

/**
 * = 02 - TITLE CONTAINER
 *
 * Grille de mise en page cover : titre, city, year, (si besoin mots CLEFS)
 *
 * ------------------------------------------------------------------------- */
.m-project_informations__wrapper {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: ". title" ". city" ". year" ". ." "arrow intro  ";
  border-bottom: 1px solid black;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .m-project_informations__wrapper {
    grid-template-columns: 5rem repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: ". title title" ". city year";
    border-bottom: 1px solid black;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.a-project_informationsTitle__item {
  grid-area: title;
}

.a-project_informationsCity__item {
  grid-area: city;
}

.a-project_informationsYear__item {
  grid-area: year;
}

/**
 * = 03 - TEXTE
 *
 * o-text : container parent de mise en forme (Nav + Texte) - Applique un systeme de padding
 * m-textBlock__wrapper : Container de mise en forme du block de texte 
 * m-buttonText__wrapper : Englobe les boutons de navigation (anchors) des paragraphes
 * .m-text__wrapper : Padding de chaque paragraphe + id anchors + 
 * Liens externes
 *
 * ------------------------------------------------------------------------- */
.o-text {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid black;
  position: relative;
}
@media (max-width: 768px) {
  .o-text {
    padding-top: 5px;
  }
}
@media (min-width: 1024px) {
  .o-text {
    padding-bottom: 2rem;
    scroll-snap-type: y mandatory;
  }
}

.m-textBlock__wrapper {
  position: sticky;
  top: 0;
}

/* = BUTTON NAVIGATION */
.m-buttonText__wrapper {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.a-indexButton__item {
  flex-grow: 1;
}
.a-indexButton__item:hover {
  color: #7c7c7c;
  border-bottom: 2px solid #7c7c7c;
}

/* = PARAGRAPHE TEXTE */
.o-text__container {
  position: relative;
  max-height: 35vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.o-text__container::-webkit-scrollbar {
  display: none;
}

.m-text__wrapper {
  padding-top: 2.2rem;
}

/* = ANCHORS */
.blockText__purpose {
  scroll-snap-type: start;
}

.blockText__artist {
  scroll-snap-type: start;
}

.blockText__takeMe {
  scroll-snap-type: start;
}

#word-noWrap {
  white-space: nowrap;
}

/* = LIENS EXTERNES */
.a-linkProject {
  padding-top: 1rem;
}

/**
 * = 04 - LISTE DEROULANTE DETAILS SERVICES [ A SUPP ] 
 *
 * ------------------------------------------------------------------------- */
/*
.o-gridList {
  padding: $pad-T-B $pad-L-R;
  @include media(">=desktop") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: ". listServices";
    padding: $pad-T-B $pad-L-R;
  }
}

.m-listServices {
  padding-left: $pad-L-R;
  grid-area: listServices;
}
*/
/** ========================================================================
* = INDEX
*
* 01 - INDEX HOME
* 02 - INDEX PROJECTS
* 
* ========================================================================= */
/**
 * = 01 - INDEX HOME
 * ------------------------------------------------------------------------- */
.o-indexHome__container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: calc(10px/ 2);
}
@media (min-width: 1024px) {
  .o-indexHome__container {
    border-left: 1px solid black;
  }
}

.m-indexHome__wrapper {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-areas: ". about";
}
@media (min-width: 1024px) {
  .m-indexHome__wrapper {
    grid-template-columns: 5rem 1fr;
  }
}

.a-indexHome__item {
  border-left: 1px solid black;
  grid-area: about;
  padding: 5px 10px;
}

/**
 * = 02 - INDEX PROJECTS
 * ------------------------------------------------------------------------- */
.o-indexProjects__container {
  margin-top: 33px;
}
@media (min-width: 1024px) {
  .o-indexProjects__container {
    margin-top: 0;
  }
}
.o-indexProjects__container .m-infos__heading_wrapper {
  border-top: none;
}
.o-indexProjects__container .m-infos__heading_wrapper > .a-infos__heading_item {
  border-left: 1px solid black;
}

.a-indexProjects_name__item,
.a-indexProjects_category__item {
  padding: 5px 10px;
}

.a-indexProjects_name__item {
  border-right: 1px solid black;
  border-left: 1px solid black;
  grid-area: name-client;
}

.a-indexProjects_category__item {
  grid-area: category;
}

/**
 * = CONTAINER DETAILS SERVICES 
 *
 * Présent uniquement sur la page projet
 * Container parent GRID qui gere la grid de deux éléments
 *
 * ------------------------------------------------------------------------- */
.o-detailServices__Container {
  display: block;
}
@media (min-width: 769px) {
  .o-detailServices__Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: ". accordion";
  }
}

#detailServices__wrapper {
  grid-area: accordion;
}

.o-footer__container {
  width: 50%;
  background-color: white;
  position: fixed;
  bottom: 0;
  padding-right: 10px;
  margin-bottom: calc(10px/ 2);
}
@media (max-width: 1024px) {
  .o-footer__container {
    display: none;
  }
}

.m-footer__wrapper {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 5rem repeat(4, auto);
}

.a-footer__item {
  border-right: 1px solid black;
  padding: 5px 10px;
}
.a-footer__item:last-child {
  border-right: none;
}

.o-footer__container--mobile {
  width: 100%;
  background-color: white;
}
@media (min-width: 1025px) {
  .o-footer__container--mobile {
    display: none;
  }
}

.m-footer__wrapper--mobile {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 5rem repeat(4, auto);
}

.a-footer__item--mobile {
  border-right: 1px solid black;
  padding: 5px 10px;
}
.a-footer__item--mobile:last-child {
  border-right: none;
}

/**
 * = PAGE LAYOUT
 *
 * 01 - CONTAINER COMMUN
 * 02 - HOME LEFT
 * 03 - HOME RIGHT 
 * 04 - PROJECT LEFT
 * 05 - PROJECT RIGHT
 * 
 * ========================================================================= */
/**
 * = 01 - CONTAINER COMMUN
 * ------------------------------------------------------------------------- */
.o-pageSplit__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .o-pageSplit__container {
    flex-direction: row;
    position: relative;
  }
}

/**
 * = 02 - HOME PAGE LEFT
 * ------------------------------------------------------------------------- */
@media (min-width: 1024px) {
  .m-pageSplit_homeLeft__wrapper {
    width: 50%;
    padding-left: 10px;
    max-height: 100vh;
    position: fixed;
  }
}

/**
   * = 03 - HOME PAGE RIGHT
   * ------------------------------------------------------------------------- */
@media (min-width: 1024px) {
  .m-pageSplit_homeRight__wrapper {
    width: 50%;
    padding-right: 10px;
    position: absolute;
    left: 50%;
  }
}

/**
 * = 04 - PROJECT PAGE LEFT
 * ------------------------------------------------------------------------- */
.m-pageSplit_projectLeft__wrapper {
  order: 2;
}
@media (min-width: 1024px) {
  .m-pageSplit_projectLeft__wrapper {
    flex-direction: row;
    width: 50%;
    order: 1;
  }
}

/**
 * = 05 - PROJECT PAGE RIGHT
 * ------------------------------------------------------------------------- */
.m-pageSplit_projectRight__wrapper {
  order: 1;
}
@media (min-width: 1024px) {
  .m-pageSplit_projectRight__wrapper {
    order: 2;
    position: fixed;
    left: 50%;
    width: 50%;
    height: 100vh;
    padding-right: 10px;
    border-left: 1px solid black;
  }
}

/*# sourceMappingURL=style.css.map */
