// BUTTON PREVIOUS NEXT //
.o-navigationButtons {
  @include media(">=desktop") {
    width: 50%;
    background-color: $second;
    position: fixed;
    bottom: 3rem;
    padding-right: $pad-L-R;
  }
}

.m-navigationButtons {
  display: grid;
  grid-template-columns: $col repeat(2, 1fr);
  grid-template-areas: ". name-client category";
  border-top: $border;
}

.a-navigationButtons {
  @include button-slide-hover-right();
  padding: $pad-T-B $pad-L-R;
  border-right: $border;
}
._slideHover {
  &:hover {
    color: $second;
    box-shadow: inset 400px 0 0 0 $first;
  }
}

#previous {
  border-right: $border;
  grid-area: name-client;
}
#next {
  grid-area: category;
  border: none;
}
