// BUTTON PREVIOUS NEXT //
.o-navigationButtons {
  @include media(">=desktop") {
    width: 50%;
    background-color: $second;
    position: fixed;
    bottom: 3rem;
    padding-right: $pad-L-R;
  }
}

.m-navigationButtons {
  display: grid;
  grid-template-columns: $col-desk repeat(2, 1fr);
  grid-template-areas: ". name-client category";
  border-top: $border;
}

.a-navigationButtons {
  padding: $pad-T-B $pad-L-R;
  border-right: $border;
}

#previous {
  border-right: $border;
  grid-area: name-client;
}
#next {
  grid-area: category;
  border: none;
}

// ON HOVER //
.m-navigationButtons :nth-child(2) {
  &:hover {
    background-color: $four;
    display: block;
  }
}
.m-navigationButtons :nth-child(3) {
  &:hover {
    background-color: $third;
    display: block;
  }
}
