.m-scrollerImage {
  @include media(">=desktop") {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
}
.a-scrollerImage {
  width: 100%;
  background-color: black;
  height: 100%;
  scroll-snap-align: start;
}

.a-scrollerImage img {
  width: 100%;
}
