//carrousel scroller snap images//

.m-scrollerImage {
  @include media(">=desktop") {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
}

.m-scrollerImage section {
  @include media(">=desktop") {
    scroll-snap-align: center;
  }
}
._scrollProject {
  height: 100vh;
}

.a-scrollerImage__item {
  height: calc(100% - 10px);
  margin-bottom: calc(#{$marg}/ 2);
  box-sizing: border-box;
  border-top: $border;
  border-bottom: $border;
  background-color: rgb(236, 236, 236); //TODO changer en variable //
  position: relative;

  @include media(">=desktop") {
    margin-top: calc(#{$marg}/ 2);
  }
}

.a-scrollerImage__item__home {
  height: auto;
  margin-bottom: calc(#{$marg}/ 2);
  box-sizing: border-box;
  border-top: none;
  border-bottom: $border;
  background-color: rgb(236, 236, 236); //TODO changer en variable //
  position: relative;
}

.figure__item__image {
  padding-top: $pad-T-B;
  padding-right: $pad-L-R;
  padding-bottom: $pad-T-B;
  padding-left: $pad-L-R;
  background-color: $second;
  border-top: $border;
  width: 100%;
  position: absolute;
  bottom: 0;
}

section > img {
  max-height: 100%;
}
