.m-scrollerImage {
  @include media(">=desktop") {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
}
.a-scrollerImage {
  background-color: black;
  height: 100%;
  scroll-snap-align: start;
  img {
    width: 100%;
  }
}
