.image__overlay {
  position: absolute;
  padding: $pad-L-R;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include background-color-cover(rgba(0, 0, 0, 1));
  &:hover,
  :focus,
  :active {
    background-position: left;
    color: rgba(255, 255, 255, 1);
  }
}

.overlay__wrapper {
  height: 100%;
  margin-left: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 10fr 0.5fr;
  grid-template-areas:
    "title subtitle"
    ". ."
    "date localisation";
}

.title__overlay {
  grid-area: title;
}
.subtitle__overlay {
  grid-area: subtitle;
}
.date__overlay {
  grid-area: date;
}
.localisation__overlay {
  grid-area: localisation;
}
