.m-image__wrapper {
  position: relative;
}
#video-margin {
  margin-top: -4px;
}

.a-image__description__item {
  position: absolute;
  z-index: 999;
  top: 5px;
  left: 5px;
  background-color: $second;
  padding: 1px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.m-image__wrapper {
  &:hover .a-image__description__item {
    opacity: 1;
  }
}
img {
  width: 100%;
}
