.m-image__wrapper {
  position: relative;
}
#video-margin {
  margin-top: -4px;
}

.a-image__description__item {
  position: absolute;
  z-index: 999;
  top: 5px;
  left: 5px;
  background-color: $second;
  padding: 1px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.m-image__wrapper {
  &:hover .a-image__description__item {
    opacity: 1;
  }
}
img {
  width: 100%;
}

/**
* = 02 - TITLE CONTAINER
* Grille de mise en page cover : titre, city, year, (si besoin mots CLEFS)
* ------------------------------------------------------------------------- */
.m-pageSplit_projectLeft__wrapper {
  :first-child {
    @include media("<=tablet") {
      border-top: $border;
    }
  }
}
