/* = LIENS EXTERNES */
.scrollmenu {
  overflow: auto;
  -ms-overflow-style: none; // OVERFLOW POUR IE & EDGE
  scrollbar-width: none; // DISABLE SCROLLBAR FIREFOX
  white-space: nowrap;
  @include media(">=desktop") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

div.scrollmenu a {
  @include button-slide-right;
  display: inline;
  margin-right: $pad-L-R;
}

div.scrollmenu a:hover {
  @include button-slide-right--hover;
}

#list_services {
  padding-bottom: 0.8rem;
}
#external_links {
  padding-top: 0.8rem;
}
