/**
 * = SLIDE HOVER TO THE RIGHT
 *
 * @include animation d'hover via box-shadow
 * ------------------------------------------------------------------------- */
._slideHover {
  &:hover,
  &:focus {
    @include button-slide-right--hover;
  }
}
/**
 * = UNDERLINE & ANIMATION UNDERLINE HOVER
 *
 * @include pour l'underline en background image
 * Animation de l'underline 
 * ------------------------------------------------------------------------- */

.slide__underline {
  @include underline();
}
.slide__underline {
  color: $first;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition-delay: 90ms;
  &:hover,
  &:focus {
    background-size: 100% 100%;
    color: $second;
  }
}

.slidejs {
  @include button-slide-right--hover;
}
