/**
 * = SLIDE HOVER TO THE RIGHT
 *
 * @include animation d'hover via box-shadow
 * ------------------------------------------------------------------------- */
._slideHover {
  @include button-slide-right; //ETAT DU SLIDE AVT HOVER
  &:hover {
    @include button-slide-right--hover; // ETAT PENDANT HOVER
  }
}

.slidejs {
  @include button-slide-right--hover;
}
