/**
 * = UNDERLINE & ANIMATION UNDERLINE HOVER
 *
 * @include pour l'underline en background image
 * Animation de l'underline 
 *
 * ------------------------------------------------------------------------- */

#title-service {
  display: inline;
  line-height: $line-height-medium;
}

#number-service,
.slide__underline {
  @include underline();
}
.slide__underline {
  color: $first;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition-delay: 90ms;
  &:hover {
    background-size: 100% 100%;
    color: $second;
  }
}
