// List services summary  //
.m-listServices {
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 5px;
  border-top: $border;
  position: relative;
  cursor: pointer;
  list-style: none;
}

.m-listServices:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

.o-listServices[open] .m-listServices:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
