// LIST SERVICE SUMMARY  //
.m-listServices {
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 5px;
  border-top: $border;
  position: relative;
  cursor: pointer;
  list-style: none;
}

.m-listServices summary::-webkit-details-marker {
  display: none;
}

.m-listServices:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

.o-listServices[open] .m-listServices:after {
  transform: rotate(45deg);
  font-size: 2rem;
}

.a-listServices {
  height: 15rem;
  padding-top: $pad-T-B;
  overflow-y: scroll;
  -ms-overflow-style: none; //! IE and Edge
  scrollbar-width: none; //! Firefox
  li {
    border-bottom: $border;
    padding-top: 0.7rem;
    padding-bottom: $pad-T-B;
  }
}
.a-listServices::-webkit-scrollbar {
  //! Hide scrollbar for Chrome, Safari and Opera
  display: none;
}

.titleServices {
  text-decoration: underline;
}
