html {
  scroll-behavior: smooth;
}
/**
.container {
  position: relative;
  margin-left: $marg;
  margin-right: $marg;
  padding-top: $pad-T-B;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: auto;
}
.container__left,
.container__right {
  width: auto;
}
.container__left {
  border-right: $border;
}

//container__fixed
.container__right--fixed {
  position: fixed;
  left: 50%;
  height: 99%;
  margin-right: $marg;
}
**/
.container__grid {
  position: relative;
  margin-left: $marg;
  margin-right: $marg;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container__flex__left {
  display: flex;
  flex-direction: column;
}
.container__flex__right {
  display: flex;
  flex-direction: column;
  border-left: $border;
}

/**
// media queries //
@media screen and (max-width: 999px) {
  .container {
    display: block;
  }
}
**/
