@font-face {
  src: url(/public/fonts/SangNeufSansMono-Regular.eot);
  src: url(/public/fonts/SangNeufSansMono-Regular.otf);
  src: url(/public/fonts/SangNeufSansMono-Regular.woff);
  src: url(/public/fonts/SangNeufSansMono-Regular.woff2);
  font-family: "sangneuf";
  font-display: swap; // To avoid showing invisible text while custom fonts load
}
