@mixin typography-content {
  line-height: $line-height--text--desktop;
  font-size: $text1;
}

/**
 * = 01 - INFOS CONTAINER COMMUN
 * ------------------------------------------------------------------------- */
@mixin infos-index {
  border-top: $border;
  border-bottom: $border;
  display: flex;
  flex-direction: row;
}

@mixin text-infos {
  display: flex;
  flex-direction: row;
}

/**
 * = 02 - HOVER UNDERLINE 
 * ------------------------------------------------------------------------- */
@mixin underline {
  text-decoration: none;
  background-image: linear-gradient($first, $first);
  background-size: 100% 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

@mixin button-slide-hover-right {
  color: $first;
  box-shadow: inset 0 0 0 0 $first;
  transition: all ease-in-out 400ms;
}
