/**
 * = 01 - NORMALIZE & RESET DES STYLES 
 * 
 * ------------------------------------------------------------------------- */

html {
  font-size: 62.5%;
}

body {
  font-size: $text1;
  font-family: $sans-serif;
  ::selection {
    color: $second;
    background: $first;
  }
  ::-moz-selection {
    /* Code for Firefox */
    color: $second;
    background: $first;
  }
}
h2,
h3 {
  font-size: $text1;
  font-weight: 400;
}
h4 {
  font-weight: 400;
}

/**
 * = 03 - HOME
 * ------------------------------------------------------------------------- */
/* = 03.1 - ABOUT */
.a-infos__text_item {
  line-height: $line-height-medium;
}

/* = 03.4 - CONTRIBUTIONS & EXHIBITIONS */
.m-contribution_content__wrapper,
.a-exhibitionTab__wrapper {
  font-size: $text3;
  line-height: $line-height-small;
}

/**
 * = 03 - PROJECT 
 * ------------------------------------------------------------------------- */

/* = 03.1 - CONTAINER PROJECT : TITLE */
.a-project_informationsTitle__item {
  font-size: $title-small;
  padding-top: $pad-T-B;
  text-transform: uppercase;
  @include media(">=1025") {
    font-size: $title-big;
  }
}
/* = 03.2 - CONTAINER PROJECT : DATE & CITY */
.a-project_informationsCity__item,
.a-project_informationsYear__item,
.a-image__description__item {
  font-family: "sangneuf", "Courier New", Courier, monospace; //TODO: remplacer par nouvelle version
  line-height: $line-height-small;
}
/* = 03.3 - LIENS EXTERNES SCROLLABLE + COPYRIGHT IMAGES */
.scrollmenu,
.copyright-image {
  font-size: $text2;
}

/* = 03.4 - TEXTES */
.a-text_project__item {
  line-height: $line-height-medium;
  font-size: $text1;
}

/* = 03.5 - LISTE DERULANTE - SERVICES */
.list__services {
  font-size: $text2;
}

/**
 * = 04 - FOOTER
 * ------------------------------------------------------------------------- */
.o-footer__container {
  font-size: $text3;
}
