// ! BASE DOCUMENT //
html {
  font-size: 62.5%;
}

body {
  font-size: $text1;
  font-family: $sans-serif;
}

// NAVBAR //

// INDEX //

// PROJET //
// TITLE //
._projectTitle {
  font-size: 4rem;
  line-height: $line-height--index--mobile;
  padding-top: $pad-T-B;

  @include media("=>desktop") {
    font-size: $title;
    line-height: $line-height--index--desktop;
  }
}

// PROJET //
// DATE & CITY //
._projectCity,
._projectYear {
  font-family: "sangneuf", "Courier New", Courier, monospace;
  line-height: $line-height--index--desktop;
}

// PROJECT //
// INTRODUCTION //
._projectIntro {
  line-height: $line-height--text--desktop;
  font-size: $text1;
}

// ! HOME //

// ABOUT TXT //
.a-textDescription__item {
  line-height: $line-height--text--desktop;
}

// SELECTED COLABORATORS TXT //
.a-textReferences__item {
  line-height: $line-height--text--desktop;
}

// CONTACT //
.a-textContact__item {
  line-height: $line-height--text--desktop;
}

// EDITORIAL FEATURES & EXHIBITIONS //
.a-features,
.a-exhibition {
  font-size: $font-footer;
  line-height: $line-height--index--desktop;
}

// ! PROJECT //

// PROJECT //
// TEXTE PRESENTATION //
.a-detailProject__text {
  font-size: $text1;
  line-height: $line-height--text--desktop;
}

// PROJECT
// LIST IMAGE //
.list__images {
  font-size: $text1;
  line-height: $line-height--text--desktop;
}

//PROJECT//
// LIST SERVICES (DROPDOWN) //
summary {
  font-size: $text1;
}

.list__services {
  font-size: $text2;
}

// PROJECT //
// NEXT & PREVIOUS //

// PROJECT //
// FOOTER//
.o-footerBlock {
  font-size: $font-footer;
}

// LEFT PAGE //
// LEGENDE IMAGE //
.figure__item__image {
  font-size: $font-footer;
}
