// CONTAINER //
.o-gridContainer {
  display: flex;
  flex-direction: column;
  @include media(">=desktop") {
    flex-direction: row;
    position: relative;
  }
}

// HOME PAGE //
// LEFT //
.m-gridContainerHome__left {
  width: 100%;
  @include media(">=desktop") {
    width: 50%;
    padding-left: $pad-L-R;
    max-height: 100vh;
    position: fixed;
  }
}

// RIGHT //
.m-gridContainerHome__right {
  @include media(">=desktop") {
    width: 50%;
    border-left: $border;
    padding-right: $pad-L-R;
    position: absolute;
    left: 50%;
  }
}

// PROJECT PAGE //
//LEFT //
.m-gridContainerProject__left {
  order: 2;
  @include media(">=desktop") {
    flex-direction: row;
    width: 50%;
    margin-left: $marg;
    order: 1;
  }
}

// RIGHT //
.m-gridContainerProject__right {
  order: 1;
  @include media(">=desktop") {
    width: 50%;
    border-left: $border;
    margin-right: $marg;
    order: 2;
  }
}
