/**
 * = 01 - INFOS CONTAINER COMMUN
 * ------------------------------------------------------------------------- */
@mixin index_container-style {
  border-top: $border;
  border-bottom: $border;
  display: flex;
  flex-direction: row;
}

/**
 * = 02 - HOVER UNDERLINE 
 * ------------------------------------------------------------------------- */
@mixin underline {
  text-decoration: none;
  background-image: linear-gradient($first, $first);
  background-size: 100% 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

@mixin button-slide-right {
  color: $first;
  box-shadow: inset 0 0 0 0 $first;
  transition: all ease-in-out 400ms;
}
@mixin button-slide-right--hover {
  color: $second;
  box-shadow: inset 500px 0 0 0 $first;
}

/**
 * = 03 - PADDING & BORDER POUR CADRE DE CONTAINER
 * ------------------------------------------------------------------------- */

@mixin cadre-container($padding-left: $pad-L-R, $padding-right: $pad-L-R) {
  padding-left: $pad-L-R;
  padding-right: $pad-L-R;
  border-bottom: $border;
}

/**
 * = 03 - LINKS & COPYRIGHT PROJECT 
 * ------------------------------------------------------------------------- */

@mixin padding-links-copyright($padding-top: 0.5rem, $padding-bottom: 0.5rem) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}
