// colors //
$first: black;
$second: white;
$third: rgb(105, 17, 206);
$four: rgb(197, 197, 197);

//Borders//
$border: 1px solid $first;

// padding//
$pad-L-R: 10px;
$pad-T-B: 5px;

//margin//
$marg: 10px;

//fonts//
$sans-serif: helvetica;
$mono: sangneuf;
$line-height: 1.3rem;
$body: 1.6rem;
$title: 5rem;
$font-footer: 1.3rem;
$emoji: 1.5rem;
