// colors //
$first: black;
$second: white;
$third: rgb(120, 1, 255);
$four: rgb(51, 255, 0);

//Borders//
$border: 1px solid $first;

// padding//
$pad-L-R: 10px;
$pad-T-B: 5px;

//margin//
$marg: 10px;

//fonts//
// family //
$sans-serif: helvetica;
$mono: sangneuf;

// sizes //
$line-height--index: 1.6rem;
$line-height--text: 1.8rem;
$body: 1.6rem;
$text: 1.4rem;
$title: 5rem;
$font-footer: 1.3rem;
$emoji: 1.5rem;
