// COLONNES GRID //
$col: 5rem;

// COLORS //
$first: black;
$second: white;
$third: rgb(124, 124, 124);

// BORDERS //
$border: 1px solid $first;

// PADDING //
$pad-L-R: 10px;
$pad-T-B: 5px;

// MARGIN //
$marg: 10px;

// FONTS //
//*** FAMILY ***//
$sans-serif: helvetica;

// *** TEXT SIZE *** //
$text1: 1.6rem;
$text2: 1.4rem;
$text3: 1.3rem;
$title-small: 4rem;
$title-big: 5rem;
$emoji: 1.5rem;

// *** LINE HEIGHT *** //
// *** MOBILE *** //
$line-height-small: 1.6rem;
$line-height-medium: 2rem;
$line-height-large: 3.5rem;
