// SPACING //
$col-phone: 10%;
$col-desk: 7%;

// COLORS //
$first: black;
$second: white;
$third: rgb(120, 1, 255);
$four: rgb(51, 255, 0);

// BORDERS //
$border: 1px solid $first;

// PADDING //
$pad-L-R: 10px;
$pad-T-B: 5px;

// MARGIN //
$marg: 10px;

// FONTS //
//*** FAMILY ***//
$sans-serif: helvetica;

// *** SIZES *** //
$line-height--index: 1.6rem;
$line-height--text: 2rem;
$text1: 1.6rem;
$text2: 1.4rem;
$title: 5rem;
$font-footer: 1.3rem;
$emoji: 1.5rem;
